<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="GoBarber - Fziliotti" />
  <meta name="author" content="Fabrício Fernandes Ziliotti" />
  <meta name="robots" content="index" />
  <meta name="googlebot" content="index" />
  <title>GoBarber </title>
  {# <meta name="keywords" content="Fziliotti, Ziliotti, Desenvolvedor Web, Front-End, Front, Dev, Performance Web, SEO, Developer, Fabricio Fernandes" /> #}

  <meta name="theme-color" content="#323232">
  <meta name="mobile-web-app-capable" content="yes">
  {# <link rel="manifest" href="manifest.json"> #}
  <meta name="language" content="portuguese" />
  <meta name="google" content="translate" />

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>




